[submodule "Miros/vendor/spdlog"]
	path = Miros/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Miros/vendor/GLFW"]
	path = Miros/vendor/GLFW
	url = https://github.com/TheCherno/glfw
